body {
background:  url(../images/red_bg.jpg) repeat; 
/* background:  url(../images/purple.jpg) repeat; */
background-color: #660000;  /* #003300    */
text-align: center;
font-family: Helvetica, tahoma, verdana, serif; /* arial  sans-serif*/
font-size: 100%;
color: #000022;   /* #003300 text color  */
}
/* this is a clear div we use to clear any floated elements */
div.clear {
	clear: both;
	width: 1px;
	height: 1px;
}
/* standard LINK styles */
a:link, a:visited, a:active {
font-weight: normal;
text-decoration: none;
color: #cccccc;  /* #fff text color  */
}
a:hover {
text-decoration: none;
}

/* this is the white box that holds the HEADER and MAIN, which holds all other divs */
#main {
	width: 665px;
	margin: 0 auto;
	background: #990000;  /* #fff text color  */
	border-top: 5px solid #990000;   /* #006600 text color  */
	border-bottom: 5px solid #990000;  /* 330000  #006600    */
}
#header {
	background: url(../images/header.jpg) no-repeat;
	width: 655px;
	height: 165px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

/* this the beige box that holds the NavBar, CONTENT , CONTAINER divs */
#content {
	width: 655px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #F0F0B4;  /*  #F0F0B4  #cccc99 text color  */
	font-size: 88%;
}
#contentemail {
	width: 455px;
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: #F0F0B4;  /*  #F0F0B4  #cccc99 text color  */
	font-size:100%;
}
#container {
	padding: 10px;
	text-align: left;
}
#containInfoPic {
	padding: 0px;
	width: 620px;
}
#containRevPic {
	padding: 0px;
	width: 620px;
}
#containHomePic {
	padding: 0px;
	width: 630px;
}
#textcol {
	padding: 0px;
	width: 500px;
}
#phocol1 {
	padding: 5px;
	width: 304px;
	float: left;
	left: 0px;
	right: 0px;
}
#phocol2 {
	padding: 5px;
	width: 304px;
	float: right;
	left: 0px;
	right: 0px;
}
#horzspace {
	padding: 0px;
	width: 638px;
	left: 0px;
	right: 0px;
}

/* styles for the CONTAINER box content area LINKS */
#container a:link, #container a:visited, #container a:active {
font-weight: bold;
text-decoration: none;
color: #990000;
}
#container a:hover {
text-decoration: none;
}

/* NAVIGATION Bar styling */
#navBar {
height: 15px;
background-color: #660000;    /* #006600 green nav bg color  */
border-right:1px solid #660000;  /* #fff green nav bg color  */
padding: 2px;
color: #fff;      /* #fff green nav  color  */
width: 651px;
border-bottom: 2px solid #F0F0B4;   /* #F0F0B4  #cccc99   nav bg color  */
font-size: 85%;
}
#navBar ul {
	margin: 0px; 
	padding:0px;
	list-style-type: none; 
}
#navBar li {
	display: inline;
	list-style-type: none;
	padding: 2px;
	margin: 0px;
}
#navBar a {
	background: transparent;
	margin: 0px;
	color: #cccc99;      /* #cccc99   nav bg color  */
	text-decoration: none;
	padding: 2px 10px;
	width: 130px;  /* width 651 divided by number of menu items */
}
#navBar a:link, #navBar a:visited {
	color: #fff;
	text-decoration: none; 
}
#navBar a:hover {
	color: #cccc99;
	background-color: transparent;
	text-decoration: none;
}
#navBar a:active {
	background-color: transparent;
	color: #fff;
}

/* styles the current page INDICATOR - apply on relevant page to relevant link in the NavBar */
#navBar #navBarcurrent a, #navBar #navBarcurrent a:link, #navBar
#navBarcurrent a:visited, #navBarcurrent a:hover, #navBar #navBarcurrent
a:active {
	color: #9F0C0C;              /* #006600   green link color  */
	background-color:#F0F0B4;    /* #cccc99   bg tab color  */
	font-weight: bold;
}

/* TEXT styling */
h1 {
	font-size: 120%;
}
h2 {
	color: #990000;
	font-size: 140%;
	text-align:center
}
h3 {
	color: #990000;
	font-size: 140%;
	text-align:left
}
h4 {
	font-size: 121%;
}
h5 {
	color: #555;
	font-size: 80%;
	text-align:left
}
b {
	color: #fff;
   	font-size: 105%;
}
p.rev {
	color: #666;
   	font-size: 80%;
}
p {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.mapit {
	color: #990000;
	font-size: 130%
}
.reviewlink {
	color: #555;
	font-size: 100%
}

/* this is used for the IMAGE positioning*/
img.info {
	float: right;
	padding: 0px;
 	border-color: #003300 #003300 #003300 #003300;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	position: relative;
	bottom: 0px;
	top: 25px;
	left: 0px;
	right: 0px;
}
img.rev, img.home {
	float: right;
	padding: 0px;
 	border-color: #660000 #660000 #660000 #660000;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
}
img.photos {
	padding: 0px;
 	border-color: #660000 #660000 #660000 #660000;  /*  #003300 */
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;	
}

/*styling for MENU on the menu page*/
dl{	width: 100%;
	overflow: auto;
	margin: 0 0 1em;
}
dd{margin:0
}
dt{
	float: left;
	padding-right: 3px;
	color: #660000;
	font-weight: bold;
	font-size: 110%;
}
dt.items{
	float: left;
	padding-right: 3px;
	color: #555;
	font-weight: normal;
	font-size: 100%;
}
dd.price{
	float: right;
	padding-left: 113px;
	color: #660000;
	font-weight: bold;
	font-size: 105%;
}
dt.price{
	float: right;
	padding-left: 113px;
	color: #0033ff;
	font-weight: bold;
	font-size: 105%;
}
dd.ingredients{	float: left;
				width: 100%;
				padding: 3px 0;
   				font: 100% arial, tahoma, verdana, sans-serif; 
				color: #555
}
dd.hanging{	float: left;
			width: 100%;
			padding: 0px 0;
   			font: 100% arial, tahoma, verdana, sans-serif; 
			color: #555;
			
}
dd.subprice{
	float: right;
	padding-left: 3px;
	color: #660000;
	font-size: 105%;
}